
<div class="widget_contener">
  
  <div *ngFor="let node of nodes" class="widget navy-bg">
      <div class="widget_title">{{node.name}}</div>
      <div class="widget_content">
        <div class="content_icon">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
          </div>
          <div *ngFor="let capteur of node.capteurs" class="text-right content">
            <span> {{capteur.nom}} </span>
            <h2 class="font-bold">26'C</h2>
          </div>
      </div>
    </div>
</div>
      
 
  
  