<div class="row">
  <div class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="widget style1 lazur-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="widget style1 yellow-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="widget style1 lazur-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="widget style1 yellow-bg">
      <div class="row">
        <div class="col-4">
          <mat-icon class="md-48">
            cloud_queue
          </mat-icon>
        </div>
        <div class="col-8 text-right">
          <span> Today degrees </span>
          <h2 class="font-bold">26'C</h2>
        </div>
      </div>
    </div>
  </div>
</div>