
      
    <mat-toolbar class="mat-elevation-z6 toolbar" color="primary">
      
      <ul class="left">
        <li><a>capteur</a></li>
        <li><a>admin</a></li>
      </ul>
      
      <span class="middle">VegetableGrow</span>

      <ul class="right">
        <li>
          <mat-icon class="finger">account_circle</mat-icon>
        </li>
        <li>
          <mat-icon class="finger">exit_to_app</mat-icon>
        </li>
      </ul>

    </mat-toolbar>
  

<router-outlet></router-outlet>
