
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../assets/css/_material';


//top navbar
.toolbar {

    .left{
        flex :1;
        text-align : left;

        li {
        display : inline-block;
        padding-right: 8px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;

        }
    }
    .middle {
        flex : 3;
        text-align: center;

    }
    .right{
        flex : 1;
        text-align: right;

        li {
        display : inline-block;
        padding-right: 8px;
        }
    }
    
}

.global_spacer {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-around;
    
    border: 2px solid black;
}

.mainContent {
    width: 100%;
    //align-items: flex-start;
}
.footer {
    width: 100%;
    align-self: flex-end;
}

